@model MangaBook.Data.Entities.Manga

@{
    ViewData["Title"] = "Thêm truyện";
}

<link href="~/css/profile.css" rel="stylesheet" />

<div class="container">
    <div class="dashboard-body">
        <div class="dashboard-caption">
            <div class="dashboard-caption-header">
                <h4><i class="ti-id-badge"></i>Thêm mới truyện</h4>
            </div>

            <div class="dashboard-caption-wrap">
                <!-- row -->
                <div class="row mrg-top-20">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a asp-action="Create" class="btn btn-primary mt-3 mb-3">Thêm truyện mới</a>
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-8">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Genre</label>
                                        <input name="genre" id="itags" class="form-control" />
                                        <small>Gõ dấu phẩy để thêm nhiều danh mục</small>
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Author" class="control-label"></label>
                                        <input asp-for="Author" class="form-control" />
                                        <span asp-validation-for="Author" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <input type="file" name="files" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ReleaseYear" class="control-label"></label>
                                        <input asp-for="ReleaseYear" class="form-control" />
                                        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MangaStatus" class="control-label"></label>
                                        <select asp-for="MangaStatus" class="form-control">
                                            <option value="0">On going</option>
                                            <option value="1">Full</option>
                                        </select>
                                        <span asp-validation-for="MangaStatus" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>





                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/tags/jquery.amsify.suggestags.js"></script>
    <link href="~/js/tags/jquerysctipttop.css" rel="stylesheet" />
    <link href="~/js/tags/amsify.suggestags.css" rel="stylesheet" />
    <script>
        $('#itags').amsifySuggestags({
            suggestions: [
                //'test'
            ],
            whiteList: false
        }
        );
    </script>
}